<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Inmobiliaria - Modificar vivienda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
    <header>
        <h1 class="text-center">Inmobiliaria</h1>
    </header>

    <div th:include="plantilla::menu"></div>

    <div class="container">
        <main>
            <section class="d-flex justify-content-center pt-4">
                <form th:action="@{/modificar_mascota}" th:object="${objeto_entidad}" method="post">
                    <div class="row">
                        <!-- <label for="id" class="col-sm-2 col-form-label">Id</label> -->
                        <input type="text" class="form-control-plaintext" th:field="*{id}" name="id" placeholder="id"
                            hidden>
                    </div>

                    <div class="row">
                        <label for="calle" class="col-sm-2 col-form-label">Calle</label>
                        <input type="text" class="form-control" th:field="*{calle}" name="calle" placeholder="Calle">
                    </div>

                    <div class="row">
                        <label for="precio" class="col-sm-2 col-form-label">Precio</label>
                        <input type="number" class="form-control" th:field="*{precio}" name="precio"
                            placeholder="Precio">
                    </div>

                    <div class="row">
                        <label for="precio" class="col-sm-2 col-form-label">Venta/Alquiler</label>
                        <select name="categoria.id" class="form-select" th:field="*{categoria.id}">
                            <option th:each="categoria : ${atr_lista_categorias}" th:value="${categoria.id}"
                                th:text="${categoria.categoria}"></option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col d-flex justify-content-between pt-3">
                            <a href="/" class="btn btn-edit rounded-pill">Volver a home</a>
                            <input type="submit" class="btn btn-success rounded-pill" value="Guardar">
                        </div>
                    </div>
                </form>
            </section>
        </main>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</html>